<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basketball</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="main-container">
        <div class="alert alert-info">SISTEMA DE ADMINISTRACION DE EQUIPOS</div>
        <div class="button-container">
            <a href="/equipos" class="btn btn-info">EQUIPOS</a>
        </div>
    </div>
</body>
</html>

